*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Comenzamos utilizando Grid para estructurar nuestro <body>. */
.grid{
    display: grid;
    grid-template-areas: 
    "nav nav nav"
    "main main main"
    "main main main"
    "footer footer footer";
}

/* Activamos Grid en el <nav>. */
.grid__nav{
    grid-area: nav;
}

/* Activamos Grid en el <main>.*/
.grid__main{
    grid-area: main;
}

/* Activamos Grid en el <footer>. */
.grid__footer{
    grid-area: footer;
}

/* Utilizamos Flex para acomodar las imagenes en la pagina "inicio". */
.imagenes-inicio{
    display: flex;
    gap: 20px 20px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/* Customizamos un poco cada una de estas imagenes con una clase. */
.imagen-inicio{
    border: solid 4px black;
    margin: 10px 0px;
    width: 450px;
    height: 300px;
}

/* Utilizamos Flex para acomodar las imagenes en la pagina "galeria". */
.imagenes-galeria{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

/* A continuación armamos nuestro menu navegable... */

header{
    width: 100%;
}

/* Utilizamos Flex para acomodar los <li> dentro del <ul>. */
.main-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
}

/* Acomodamos un poco mas los <li>. */
.main-menu li{
    margin-top: 60px;
    margin-left: 80px;
}

/* Customizamos los botones del menu. */
li a{
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
    width: 150px;
    text-decoration: none;
    color: black;
    font-size: medium;
    font-family: 'Roboto', sans-serif;
    border: solid 2px black;
    padding: 30px 40px 30px 40px;
    border-radius: 15px;
}

/* Le colocamos una transición para cuando posamos el mouse. */
a:hover{
    background-color: black;
    color: white;
    transition: .4s;
}

/* Ocultamos el checkbox que utilizaremos para el menu desplegable. */
#btn-menu{
    display: none;
}

/* Ocultamos el <label> (hamburguesa) del menu desplegable y le damos un tamaño. */
header label{
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
}

/* Le colocamos un pointer a la "hamburguesa" */
header label:hover{
    cursor: pointer;
}

/* Customizamos un poco la etiqueta <h1> y las clases que definimos para dar estilos particulares... */
h1{
    text-align: center;
    font-size: xx-large;
    font-family: 'Roboto', sans-serif;
    color: black;
    margin: 100px 50px 100px 50px;
    padding-top: 75px;
}
.h1-inicio{
    margin: 0;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
}

/* Customizamos un poco la etiqueta <h2> y las clases que definimos para dar estilos particulares... */
h2{
    text-align: left;
    font-size: x-large;
    color: black;
    margin: 100px 50px 100px 50px;
    font-family: 'Roboto', sans-serif;
}
.h2-inicio{
    margin-bottom: 50px;
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}
.h2-historia{
    margin: 20px 30px 20px 30px ;
    font-family: 'Roboto', sans-serif;
}
.h2-galeria{
    margin: 0;
    margin-bottom: 5px;
}

/* Customizamos un poco la etiqueta <p> */
p{
    text-align: left;
    margin: 15px 50px;
    line-height: 25px;
    text-indent: 20px;
    font-family: 'Roboto', sans-serif;
}

/* Ponemos un color de fondo para el <body> */
.fondo-body{
    background-color: #fc4903;
}


/* Le damos forma a las imagenes de "galeria" */
.imagen-galeria{
    border: solid 4px black;
    width: 450px;
    height: 300px;
}

/* Ubicamos mejor nuestro mapa y le redondeamos los bordes */
iframe{
    width: 90%;
    height: 500px;
    margin: 0 100px 20px 100px;
    border-radius: 10px;
}

/* Comenzamos a darle estilo a nuestro formulario utilizando box modeling y Flex dentro de la etiqueta <fieldset>. */
form{
    margin: 0 0 200px 300px;
    width: 100%;
    height: 500px;
}
fieldset{
    border: none;
    width: 90%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
fieldset legend{
    font-size: x-large;
}
fieldset label{
    display: block;
}
fieldset input{
    padding: 10px 60px;
    border: solid  black;
    border-radius: 10px;
}
/* Utilizamos algunas clases para aplicar estilos especificos a los botones */
.boton-limpiar{
    width: 300px;
    color: white;
    background-color: black;
    border: solid 1px black;
}
.boton{
    width: 320px;
    color: white;
    background-color: black;
    border: solid 1px black;
}

/* Le damos estilo al <footer> utilizando una etiqueta y ademas los posicionamos donde queremos con el "position: absolute", utilizando el "relative" ya colocado en el <body> */
.footer{
    background-color: black;
    color: white;
    bottom: 0%; 
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

/* Colocamos un "media queries" para que desde 480 pixeles para abajo acomode la web para una vista mobile */
@media (max-width:480px) {
    header label{
        display: block;
    }

    /* Con esta clase y estas propiedades estamos logrando que el <nav> quede oculto en la izquierda. Con la utilizacion de un margin: .70. */
    .grid__nav{
        position: absolute;
        width: 70%;
        margin-top: 30px;
        margin-left: -70%;
        transition: all 0.5s;
    }

    li a{
        width: 70%;
        padding: 15px 20px 15px 20px;
    }


    .main-menu{
        flex-direction: column;
        background-color: red;
        padding-bottom: 20px;
        
    }

    /* Utilizamos la virgulilla para que cuando el checkbox marque "checked", el <nav> pase a tener un margin:0 y se vuelva a ver (creando asi un menu desplegable). */

    #btn-menu:checked ~ .grid__nav {
        margin-left: 0;
        margin-top: 30px;
    }

    /* Acomodamos el box modeling y los tamaños de las imagenes, iframe y del formulario de contacto para que se ajusten adecuadamente al nuevo tamaño. */

    iframe{
        margin: 30px;
        width: 80%;
    }

    form{
        margin: 0;
        margin-bottom: 40px;
    }
    fieldset{
        margin: 20px;
    }

    .boton-limpiar{
        width: 200px;
    }
    .boton{
        width: 250px;
    }

    .imagen-inicio{
        width: 99%;
    }

    .imagen-galeria{
        width: 99%;
    }
}