@import "../variables/variables";

/* Le damos estilo al <footer> utilizando una etiqueta y ademas los posicionamos donde queremos con el "position: absolute", utilizando el "relative" ya colocado en el <body> */
.footer{
    background-color: map-get($estilos, color);
    color: white;
    bottom: 0%; 
    width: 100%;
    font-family: 'Roboto', sans-serif;
}